<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.ac.mappers.勤怠管理明細mapper"></mapper>
<select id="findAII" resultType="jp.ac.entities.勤怠管理TBL">
	select * from 勤怠管理明細 where
	id=#{id}
</select>